<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.aplikasiku.moviexfavorite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.app.aplikasiku.moviex.READ_DATABASE"/>
    <uses-permission android:name="com.app.aplikasiku.moviex.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetailFavoritMovieActivity"
            android:parentActivityName=".Activity.DetailFavoritMovieActivity"/>
        <activity android:name=".Activity.DetailFavoritTvShowActivity"
            android:parentActivityName=".Activity.DetailFavoritTvShowActivity"/>
    </application>


</manifest>